$main_blocks_width : 100%;
$inner_blocks_cnt_width : 85%;

$title_lg : 40px;
$title_md : 18px;
$title_sm : 15px;

$primary_color : #FFFFFF;
$secondary_color : #ffe7d2;

$font_montserrat : 'Montserrat', sans-serif;
